page-profile {

  .photoSection{
    position: fixed;
    top: 0;
    left: 0;
    background-color: color($colors,light);
    width:100%;
    height: 100px !important;
  }
  .profilePic{
    border-radius: 50%;

    width: 150px;
    height: 150px;

  }
  #imgPic{
    margin-top: 0%;
    border-radius:50%;
  }
 
  ion-grid{
    // border: 1px solid red;
  }

}
