<ion-header>
  <ion-navbar color="dark">
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="photoSection">
    <ion-grid>
       <ion-row >
         <ion-col align="center" col-12>
              <img class="profilePic" src="../../assets/imgs/perfil.jpeg" id="imgPic">
         </ion-col>
       </ion-row>
       <ion-row >
          <ion-col align="center" col-12>
            <h1>{{accountInfo.name }}</h1>
            <h2 >{{accountInfo.email }}</h2>
            <h2>{{accountInfo.DOB }}</h2>
          </ion-col>
        </ion-row>
        <ion-row >
            <ion-col align="center" col-12>
                  <hr>
                    <ion-segment [(ngModel)]="segment" >
                      <ion-segment-button value="cuenta" >
                          <ion-icon name="person"></ion-icon>
                      </ion-segment-button>
                      <ion-segment-button value="perfil">
                          <ion-icon name="paper"></ion-icon>
                      </ion-segment-button>
                    </ion-segment>


                  <div [ngSwitch]="segment">
                    <ion-list *ngSwitchCase="'cuenta'" padding>
                        <form  [formGroup]="SignUpForm" (ngSubmit)="register()" class="formR" >

                            <ion-item>
                                <ion-label floating>
                                  <ion-icon name="person" item-start class="text-primary"></ion-icon>
                                  Nombre Completo
                                </ion-label>
                                <ion-input  type="text" formControlName="name" value="{{accountInfo.name }}" ></ion-input>
                              </ion-item>
                               <ion-item>
                                  <ion-label floating>
                                      <ion-icon name="calendar" item-start ></ion-icon>
                                       Fecha de Nacimiento
                                    </ion-label>
                                    <ion-datetime doneText="Listo" cancelText="Cerrar" pickerFormat="D/MMMM/YYYY" min="1900-01-01"  max="{{today}}" displayFormat="D/M/YYYY" formControlName="DOB" ></ion-datetime>
                                </ion-item>
                                <br>
                              <button ion-button block  round color="dark" tappable type="submit" [disabled]="!SignUpForm.valid" >
                                Actualizar
                              </button>
                              <br>
                            </form>


                    </ion-list>

                    <ion-list *ngSwitchCase="'perfil'" padding>
                        <ion-item class="itemSelect">
                            <ion-label>Genero</ion-label>
                            <ion-select [(ngModel)]="formulario.genero" interface="popover"  >
                              <ion-option value="Femenino">Femenino</ion-option>
                              <ion-option value="Masculino">Masculino</ion-option>
                            </ion-select>
                          </ion-item>
                          <ion-item class="itemSelect">
                              <ion-label>Modalidad</ion-label>
                              <ion-select [(ngModel)]="formulario.modalidad" interface="popover"    >
                                <ion-option value="Presencial">Presencial</ion-option>
                                <ion-option value="Distancia">Distancia</ion-option>
                                <ion-option value="Virtual">Virtual</ion-option>

                              </ion-select>
                            </ion-item>
                            <ion-item class="itemSelect">
                                <ion-label text-wrap>Programa académico</ion-label>
                                <ion-select  text-wrap [(ngModel)]="formulario.programa" interface="popover"   selectedText="Programa" >
                                  <span text-wrap *ngIf="formulario.modalidad == 'Presencial'"> <ion-option text-wrap value="{{programa}}" *ngFor="let programa of programasPresencial"  >{{programa}}</ion-option></span>
                                  <span text-wrap *ngIf="formulario.modalidad == 'Distancia'"> <ion-option text-wrap value="{{programa}}" *ngFor="let programa of programasDistancia"  >{{programa}}</ion-option></span>
                                  <span text-wrap *ngIf="formulario.modalidad == 'Virtual'"> <ion-option text-wrap value="{{programa}}" *ngFor="let programa of programasVirtual"  >{{programa}}</ion-option></span>

                                </ion-select>
                              </ion-item>
                              <ion-item class="itemSelect">
                                  <ion-label text-wrap>Nivel académico</ion-label>
                                  <ion-select [(ngModel)]="formulario.nivel" interface="popover"    >
                                    <ion-option value="Tecnico">Técnico</ion-option>
                                    <ion-option value="Tecnologo">Tecnólogo</ion-option>
                                    <ion-option value="Profesional">Profesional</ion-option>
                                    <ion-option value="Especializacion">Especializacion</ion-option>

                                  </ion-select>
                                </ion-item>

                                    <button ion-button class="btnForm" color="dark" round  block [disabled]="btnDisabled" (click)="saveForm()">Actualizar</button>

                    </ion-list>
                  </div>

            </ion-col>
          </ion-row>
     </ion-grid>

      </div>
</ion-content>
