page-profile {

  .photoSection{
    position: fixed;
    top: 0;
    left: 0;
    background-color: color($colors,light);
    width:800px;
    height: 200px !important;
  }
  .profilePic{
    border-radius: 50%;

    width: 100px;
    height: 100px;
    border: 1px solid red;

  }
  #imgPic{

    border-radius:50%;
  }

}
